---
import type { HTMLAttributes } from 'astro/types';
import clsx from 'clsx';
import type { Variant } from '../types';

interface Props extends HTMLAttributes<'button'> {
	variant?: 'round' | 'regular' | 'rounded';
	className?: string;
	color?: Variant;
}

// Кнопка трёх типов: слегка скругленные края, полностью скругленные края, круглая кнопка
const { variant = 'regular', className, color = 'light', ...props } = Astro.props;
---

<button
	class={clsx(
		'flex items-center justify-center',
		't-s',
		color === 'light'
			? '' // default style
			: '',
		'disabled:bg-inactive disabled:opacity-80',
		variant === 'round'
			? 'rounded-full aspect-square'
			: variant === 'regular'
				? 'rounded-md'
				: 'rounded-full',
		'',
		className
	)}
	{...props}>
	<slot />
</button>
