---
import type { HTMLAttributes } from "astro/types";
import type { Variant } from "../types";
import { clsx } from "clsx";

interface Props extends HTMLAttributes<"div"> {
  color?: Variant;
  className?: string;
  paddings?: [number, number, number];
  roundedRadius?: number;
}

//todo change default padding if needed
const { paddings = [3, 4, 6], roundedRadius = 8, color, className } = Astro.props;
---

<div
  class={clsx(
    "", // TODO put default style hier
    color === "dark" ? "bg-bg-dark" : "bg-bg-light",
    className,
  )}
>
  <slot />
</div>
<style
  define:vars={{
    //border-radius
    roundedRadius,
    // tailwind-like paddings
    p0: paddings[0] * 4 + "px",
    p1: paddings[1] * 4 + "px",
    p2: paddings[2] * 4 + "px",
  }}
>
  .custom-card {
    max-width: var(--maxW);
    padding: var(--p0) 0;
    border-radius: var(--roundedRadius);
  }

  @media screen and (min-width: 768px) {
    .custom-card {
      padding: var(--p1) 0;
    }
  }

  @media screen and (min-width: 1024px) {
    .custom-card {
      padding: var(--p2) 0;
    }
  }
</style>
