---
// Должен использоваться со специфическим файлом typography.css
// в котором прописаны стили t-xs, t-s, t-m, t-l, t-xl, t-2xl, t-3xl

import type { HTMLAttributes } from "astro/types";
import clsx from "clsx";
import type { Align, ElementAlign } from "../types";

interface Props extends HTMLAttributes<"p"> {
  className?: string;
  align?: Align;
  elementAlign?: ElementAlign;
  full?: boolean;
  bold?: boolean;
  size?: "small" | "base";
}

const {
  className,
  align = "left",
  elementAlign,
  bold,
  full = true,
  size = "base",
  ...props
} = Astro.props;
---

<p
  class={clsx(
    "text",
    size === "small" ? "t-xs" : "t-s",
    align === "left"
      ? "text-left"
      : align === "right"
        ? "text-right"
        : "text-center",
    elementAlign === "left"
      ? "mr-auto"
      : elementAlign === "right"
        ? "ml-auto"
        : "mx-auto",
    full && "w-full",
    bold && "font-bold",
    className,
  )}
  {...props}
>
  <slot />
</p>

<style define:vars={{ align }}>
  .text {
    text-align: var(--align);
  }
</style>
