---
// src/components/ui/CardHeader.astro
import { cn } from "#/lib/utils";

const { class: className, ...props } = Astro.props;
---

<div class={cn("flex flex-col space-y-1.5 p-6", className)} {...props}>
  <slot />
</div>
