@import "./typography.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 263.4 93% 97%;
    --foreground: 263.4 5% 10%;
    --card: 263.4 50% 97%;
    --card-foreground: 263.4 5% 15%;
    --popover: 263.4 93% 97%;
    --popover-foreground: 263.4 95% 10%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 263.4 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 225.39999999999998 30% 95%;
    --muted-foreground: 263.4 5% 40%;
    --accent: 225.39999999999998 30% 90%;
    --accent-foreground: 263.4 5% 15%;
    --destructive: 0 93% 50%;
    --destructive-foreground: 263.4 5% 97%;
    --border: 263.4 30% 82%;
    --input: 263.4 30% 50%;
    --ring: 263.4 70% 50.4%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 263.4 50% 10%;
    --foreground: 263.4 5% 97%;
    --card: 263.4 50% 10%;
    --card-foreground: 263.4 5% 97%;
    --popover: 263.4 50% 5%;
    --popover-foreground: 263.4 5% 97%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 263.4 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 225.39999999999998 30% 25%;
    --muted-foreground: 263.4 5% 65%;
    --accent: 225.39999999999998 30% 25%;
    --accent-foreground: 263.4 5% 95%;
    --destructive: 0 93% 50%;
    --destructive-foreground: 263.4 5% 97%;
    --border: 263.4 30% 50%;
    --input: 263.4 30% 50%;
    --ring: 263.4 70% 50.4%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
