---
import Layout from "../../layouts/Layout.astro";
import { Section } from "#/components/custom-react/section";
---

<Layout description="components" title="Components">
  <Section>
    <Container>
      <h2>React</h2>
      <p>React is a JavaScript library for building user interfaces.</p>
    </Container>
  </Section>
</Layout>
