---
import Container from "#/components/astro/Container.astro";
import Section from "#/components/astro/Section.astro";
import { AccordionCustom } from "#/components/custom-react/accordion-custom";
import { AutoplayCarousel } from "#/components/custom-react/autoplay-carousel";
import { H } from "#/components/custom-react/typography";
import Layout from "../../layouts/Layout.astro";

const items = [
  { id: 1, title: "Item 1" },
  { id: 2, title: "Item 2" },
  { id: 3, title: "Item 3" },
  { id: 4, title: "Item 4" },
];
---

<Layout description="components" title="Components">
  <Section>
    <Container>
      <H>Accordion</H>
      <AccordionCustom client:load />
    </Container>
  </Section>
  <Section>
    <Container>
      <H>Shadcn autoscroll Carouse</H>
      <p>use autoplay or autoscroll</p>
      <AutoplayCarousel client:only loop={true} items={items} autoscroll />

      <H>Shadcn autoplay Carouse</H>
      <p>use autoplay or autoscroll</p>
      <AutoplayCarousel client:only loop={true} items={items} autoplay dots={{ enabled: true }} />
    </Container>
  </Section></Layout
>
