---
import Container from "#/components/astro/Container.astro";
import Section from "#/components/astro/Section.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout description="components" title="Components">
  <Section>
    <Container>
      <h2>React</h2>
      <p>React is a JavaScript library for building user interfaces.</p>
    </Container>
  </Section>
</Layout>
