---
import Layout from "../layouts/Layout.astro";
import Container from "../shared/ui/Container.astro";
import Section from "../shared/ui/Section.astro";

---

<Layout title="Welcome to Astro." description="">
  <main>
    <!-- контент страницы -->
    <Section>
      <Container> Clean template </Container>
    </Section>
  </main>
</Layout>
