---
import Layout from "../layouts/Layout.astro";
import Container from "../shared/ui/Container.astro";
import Section from "../shared/ui/Section.astro";
import Title from "../shared/ui/Title.astro";
---

<Layout title="Welcome to Astro." description="">
  <main>
    <!-- контент страницы -->
    <Section>
      <Container className="flex gap-2">
        <Title h="xl"> Чистый шаблон </Title>
      </Container>
    </Section>
  </main>
</Layout>
