---
import { getEntry } from "astro:content";
import YandexMetrika from "../shared/metrika/YandexMetrika.astro";
import Seo from "../shared/seo/Seo.astro";
import "../style/global.css";

interface Props {
  title: string;
  description: string;
  keywords?: string | string[];
  image?: string;
}

const { data } = await getEntry("seo", "base");
---

<!doctype html>
<html lang="ru">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Seo {...data} />
  </head>
  <body>
    <slot />
    <style is:global>
      /*   Подключаем шрифты тут  */
    </style>
    <!-- Подключаем метрику тут -->
    <YandexMetrika />
  </body>
</html>
