---
import AstroSection from "../components/astro/Section.astro";
import AstroContainer from "../components/astro/Container.astro";
import DesktopMenu from "#/components/astro/DesktopMenu.astro";
import { Seo } from "#/shared/seo";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
// import { DesktopMenu } from "#/components/custom-react/nav-menu";
import { menuItems } from "#/shared/const/menu";
import type { SeoProps } from "#/shared/types";
import { getEntry } from "astro:content";

interface Props {
  title?: string;
  description?: string;
  keywords?: string | string[];
  image?: string;
  seoData?: SeoProps;
}

const { title, description, keywords, image, seoData } = Astro.props;

const seo = await getEntry("seo", "base");
---

<!doctype html>
<html lang="ru" class="w-full scroll-smooth" transition:persist>
  <head>
    <meta name="viewport" content="width=device-width" />
    <Seo
      title={seo?.data.title || title}
      description={seo?.data.description || description}
      image={image}
    />
    <ClientRouter />
  </head>
  <body>
    <header>
      <AstroSection>
        <AstroContainer>
          <DesktopMenu config={menuItems} transition:persist />
        </AstroContainer>
      </AstroSection>
    </header>
    <main transition:animate="slide">
      <slot />
    </main>
    <style is:global>
      /*   Подключаем шрифты тут или в глобальном стиле  */
    </style>
    {/* Подключаем метрику тут */}
    {/* Не забываем подключить метрику через Partytown!!! attribute type="text/partytown" */}
  </body>
</html>
