---
import { getEntry } from "astro:content";
import { AstroContainer, AstroSection } from "#/components/astro";
import { ThemeSwitcher } from "#/components/shadcn/ThemeSwitcher";
import { Seo } from "#/shared/seo";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import DesktopMenu from "#/components/astro/DesktopMenu.astro";
// import { DesktopMenu } from "#/components/custom-react/nav-menu";
import { menuItems } from "#/shared/const/menu";
import type { SeoProps } from "#/shared/types";

interface Props {
  title: string;
  description: string;
  keywords?: string | string[];
  image?: string;
  seoData?: SeoProps;
}

const { title, description, keywords, image, seoData } = Astro.props;

const data = await getEntry("seo", "base");
const seo = seoData || (data?.data as SeoProps);
---

<!doctype html>
<html lang="ru" class="w-full scroll-smooth">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Seo {...seoData} />
    <script is:inline>
      const getThemePreference = () => {
        if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
          return localStorage.getItem("theme");
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
      };
      const isDark = getThemePreference() === "dark";
      document.documentElement.classList[isDark ? "add" : "remove"]("dark");

      if (typeof localStorage !== "undefined") {
        const observer = new MutationObserver(() => {
          const isDark = document.documentElement.classList.contains("dark");
          localStorage.setItem("theme", isDark ? "dark" : "light");
        });
        observer.observe(document.documentElement, {
          attributes: true,
          attributeFilter: ["class"],
        });
      }
    </script>

    <!-- <ClientRouter /> -->
  </head>
  <body>
    <header transition:persist>
      <AstroSection>
        <AstroContainer>
          <!-- <DesktopMenu config={menuItems} client:load /> -->
          <DesktopMenu config={menuItems} />
        </AstroContainer>
      </AstroSection>
    </header>
    <main transition:animate="slide">
      <slot />
    </main>
    <style is:global>
      /*   Подключаем шрифты тут или в глобальном стиле  */
    </style>
    {/* Подключаем метрику тут */}
    {/* Не забываем подключить метрику через Partytown!!! attribute type="text/partytown" */}
  </body>
</html>
